<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>History</title>
    <link rel="stylesheet" href="indexStyle.css">
</head>

<body id="index">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/history">Search History</a></li>
        <li><a href="/clear">Clear History</a></li>
    </ul>
	<h1 id="imgTitle">Previous Results</h1>
	<div>
		<%- resultTable %>
	</div>
    <br>
</body>
</html>