<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Astronomy pictures</title>
    <link rel="stylesheet" href="indexStyle.css">
    <script type="text/javascript" src="../finalProject.js"></script>
</head>

<body id="index">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/history">Search History</a></li>
        <li><a href="/clear">Clear History</a></li>
    </ul>

	<h1 class="header">Astronomy Pictures</h1>
    <h2 class="subHeader">Find astronomy pictures selected by NASA on a given date</h2>
    <a id = "search" href="/photo">Find Photo</a>
</body>

</html>
